<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.foodappproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodAppProject">
        <activity
            android:name=".DrinkActivity"
            android:exported="false" />
        <activity
            android:name=".PastaActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".SushiPageActivity"
            android:exported="false" />
        <activity
            android:name=".BurgerPageActivity"
            android:exported="false" />
        <activity
            android:name=".AccountInformationActivity"
            android:exported="false" />
        <activity
            android:name=".MapLocationActivity"
            android:exported="false" />
        <activity
            android:name=".SavedAddressActivity"
            android:exported="false" />
        <activity
            android:name=".MyCartActivity"
            android:exported="true"></activity>
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".CommitmentActivity"
            android:exported="false" />
        <activity
            android:name=".SpeedActivity"
            android:exported="false" />
        <activity
            android:name=".VarietyActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileEditingActivity"
            android:exported="true" />
        <activity
            android:name=".ProfilePageActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".PanerMakhanaActivity"
            android:exported="true" />
        <activity
            android:name=".PappyPaneerActivity"
            android:exported="true" />
        <activity
            android:name=".FarmhousePizzaActivity"
            android:exported="true" />
        <activity
            android:name=".MargheritaPizzaActivity"
            android:exported="true" />
        <activity
            android:name=".CheesePizzaActivity"
            android:exported="true" />
        <activity
            android:name=".MeantPizzaActivity"
            android:exported="true" />
        <activity
            android:name=".OrderDetailsAvtivity"
            android:exported="false" />
        <activity
            android:name=".HomeScreenActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>